div#bandeau {
	background-color: black;
	}
	
div#menu {
	float:left;
	width:200px;
	height:100%;
	text-align : center;
	background-color: black;
	}
	
div#menuright {
	float:right;
	width:200px;
	height:100%;
	text-align : center;
	background-color: black;
	}
	
div#menuhaut {
	height:50%;
	background-color:white;
	}
div#menubas {
	height:50%;
	background-color:black;
	}
	
.button {
	width:256px;
	height:40px;
	align:center;
	background-color: lightgrey;
	border-radius: 10px;
}

body {
	background: lightgrey;
}

td {
	text-align: center;
}

.odd {
	background: lightgrey;
}

.even {
	background: white;
}

.oddSelect {
	background: grey;
}

.evenSelect {
	background: grey;
}

.border {
	background-color: black;
	width: 32px;
	height: 32px;
	color: white;
}

.corner {
}
